@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#main-container{
    display: flex;    
}
#main-container div.table-responsive{ 
    overflow: hidden !important;
}
#table-container table{
    max-width: 100%;
    text-align: center;
    overflow: hidden;   
}
#list-title{
    text-align: center;    
    font-family: 'Poppins', sans-serif;    
    padding: 10px;    
}
.list-item{
    font-weight: bolder;
}

.to-remove{
    background-color: red !important; 
    transition: .3s;  
    animation-name: removeitem;
    animation-duration: 3s;   
    animation-timing-function: cubic-bezier(.22,-0.61,.11,1.31);


}
@keyframes removeitem {
    0% {
     transform: translateX(0);      
    }  
    100% {
    transform: translateX(1000px);
     
    }
  }